.img{
  margin-left: 150px;
}
.container{
  background-color:rgb(242, 153, 239);
  display:flex;
}
.company,.gethelp,.OnlineShop,.logos{
  padding-left:50px; 
  padding-top: 20px;
  padding-bottom:20px;
}
.fb,.linkedin,.insta,.cart{
  height:30px;
  width:30px;
  padding:10px;
}


